@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    background-color: red;
    height: 90vh;
}

.header{
    display: grid;
    grid-template-columns: repeat(6 , 1fr);
    grid-template-rows: 90vh;
}

.left{
    background-color: green;
    grid-column: 1/4;
    background-image: url(./img/header.jpg);
    background-position: center;
    background-size: cover;
}

.right{
    background-color: #222121;
    grid-column: 4/7;
    display: grid;
    grid-template-columns: repeat(5 , 1fr);
    grid-template-rows: repeat(5 , 1fr);
}

.text{
    position: absolute;
    text-align: center;
    font-family: sans-serif;
    top: 40%;
    right:38%;
    background: linear-gradient(to right , #202020 45% , #cac8c8 30%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.wellcome{
    grid-column:3 / 4;
    grid-row:2 / 3 ;
    font-family: 'Dancing Script', cursive;
    color: #fff;
}

.btn{
    grid-column:3 / 4 ;
    grid-row:4 / 5 ;
    align-self: center;
    padding: 9px;
    background-color: blue;
    color: white;
    transition: all 0.3s;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover{
 background-color: white;
 color: black;
}

.paragrapgh{
    grid-column:3 / 5 ;
    grid-row:3 / 4 ;
    font-family: 'Dancing Script', cursive;
    color: #fff;
}